@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --main-1: #4568DC;
    --main-2: #B06AB3;
  }

body{
    background: #fff;
    color: var(--main-1);
    font-family: 'Montserrat',sans-serif;
    max-width: 100%;
}
h1{
    font-weight: 700;
    font-size: 10em;
}
h2{
    color:var(--main-2);
}
a{
    text-decoration: none !important;
}
li{
    list-style: none;
}
.btn{
    background: var(--main-1);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--main-2), var(--main-1));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--main-2), var(--main-1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:#fff;
    border-radius: 50px;
    font-weight: 700;
}
.btn:hover{
    color:#fff;
    background: var(--main-2);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--main-1), var(--main-2));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--main-1), var(--main-2)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.btn:focus{
    box-shadow: 0 0 2px 3px #afafaf;
}
.create{
    margin-left: 15%;
    margin-bottom: 7%;
    width: 70%;
}
footer, header{
    background: var(--main-1);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--main-2), var(--main-1));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--main-2), var(--main-1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    position: fixed;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    font-size: small;
    margin: auto;
    z-index: 20;
}
header{
    top:0;
    left:0;
    height: 8%;
}
header p{
    flex-basis: 80%;
    font-size: xx-large;
    font-weight: 700;
    margin-left: 7%;
}
header a{
    display: inline-block;
    color: #fff;
    font-size: large;
    align-self: center;
}
footer{
    bottom: 0;
    max-width: 100%;
}
footer>p{
    padding-top: 1%;
    margin-left: 2%;
    align-self: center;
    flex-basis: 90%;
    font-weight: 500;
}
footer>a{
    padding-top: 1%;
    font-weight: 700;
    color: #fff;
}
footer>a:hover{
    color:white;
}

#content{
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

#saved-tracks{
    position: relative;
    top: 100px;
}

#saved-tracks h2{
    font-weight: 700;
    color: #afafaf;
    margin-bottom: 3%;
}

#div-title{
    margin: 7% 0 10% 10%;
    width: 50%;
    z-index: 10;
}

#div-title a{
    margin-top:5%;
}

#div-image img{
    float:right;
    margin-top:10%;
    margin-right: 5%;
    z-index: 0;
}
#desc{
    text-align: center; 
    color:grey;
}
#tracks-list li{
    list-style: none;
    font-size: 1.1em;
    font-weight: 700;
}
#tracks-list span{
    color: #8b8b8b;
    display: block;
    margin-bottom: 3%;
}

#saved-tracks-content{
    display: flex;
    flex-direction: row;
}

#saved-tracks{
    max-width: 50%;
    margin: 0 auto;
    /* color: #fff; */
}

#saved-tracks h2{
    text-align: right;
}

#tracks-list{
    max-height: 300px;
    overflow:auto;
    margin-left: 2%;
}

#div-albumart{
    margin-right: 2%;
}

.container{
    position: relative;
    top: 100px;
}

#playlists{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
}

.item-playlist{
    background:#fff;
    margin: 5px;
    align-items: center;
    width: 30%;
    min-width: 30%;
}

.item-title{
    border: 2px solid var(--main-2);
    border-radius: 30px 30px 0 0;
    padding: 10px;
}
.item-content{
    border: 2px solid var(--main-2);
    border-radius: 0px 0px 30px 30px;
    padding: 10px;
    height: 200px;
    overflow-y: scroll;
}

.item-playlist li{
    list-style: none;
    font-size: 1.1em;
    font-weight: 700;
}

#playlist-none{
    width: 80%;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 12px;
    height: 5px;
    }

::-webkit-scrollbar-thumb {
    background: var(--main-1);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--main-2), var(--main-1));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--main-2), var(--main-1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    border-color: var(--main-2);
}

#btn-get{
    width: 50%;
    height: 40%;
    margin: 5% 0 0 20%;
}



/* ::-webkit-scrollbar-thumb:hover {
background: #88ba1c;  
} */
    
@media (max-width: 700px){
    html,body {
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
    }
    header, #saved-tracks{
        overflow-x: hidden;
    }
    h1{
        font-size: 5em;
    }
    h2{
        font-size: 1em;
    }
    footer{
        margin-top: 2%;
    }
    footer>p{
        padding-top: 1%;
        margin-left: 2%;
        align-self: center;
        flex-basis: 77%;
        font-weight: 500;
    }
    header{
        max-width: 100%;
        overflow: hidden;
    }
    header>p{
        padding-top: 3%;
        margin-left: 2%;
        align-self: center;
        flex-basis: 70%;
        font-weight: 700;
    }
    #div-title{
        max-width: 100%;
        width: 80%;
        margin:20% auto;
        text-align: center;
    }
    #desc{
        display:none;
    }
    #div-image img{
        display: none;
    }
    #saved-tracks{
        max-width: 100%;
        margin: 0 auto;
    }
    #saved-tracks h2{
        text-align: center;
    }
    #saved-tracks-content{
        display: flex;
        flex-direction: column;
    }
    #tracks-list{
        height: 100%;
        max-height: 100%;
        width: 100%;
    }
}