{% extends "main_layout.html" %}
{% block content %}
<!-- start here -->
    <section id='saved-tracks'>
        <h2>Saved Tracks</h2>
        <section id='saved-tracks-content'>
            <div id='div-albumart'>
                <img id='albumart'>
            </div>
            <div id='tracks-list'>
            </div>
        </section>
        <a class="btn" id="btn-get" href={{ url_for('playlists') }}>Get Language Playlists</a>
    </section>
    
    <script>
        var auth = 'Bearer {{token}}' //access token
        axios.get('https://api.spotify.com/v1/me/tracks?limit=20', //saved tracks endpoint
        {
            headers: {//refer to spotify docs
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Authorization': auth
            }
        }).then((res)=>{
            var collection = res['data']['items'] //for easier reference
            var tracks_container = document.getElementById('tracks-list') //tracks parent div
            //display last saved track album art (for aesthetic purpose only)
            document.getElementById('albumart').src = collection[0]['track']['album']['images'][1]['url']
            
            Object.keys(collection).forEach((key)=>{
                let track = collection[key]['track'] //for easier reference
                let item_track = document.createElement('li') //element for track name
                let item_artists = document.createElement('span') //element for artists

                item_track.innerHTML = track['name']
                item_artists.innerHTML = track['artists'].map(i => i.name).join(', ') //a track may have more than one artist, thus

                tracks_container.appendChild(item_track)
                tracks_container.appendChild(item_artists)
            })
        })
        .catch((error)=>{
            console.error(error)
        })
    </script>
<!-- end -->
{% endblock %}