{% extends "main_layout.html" %}
{% block content %}

<!-- todo: styling -->

<!-- start here -->
    <div class="container">
        <section id="playlists">
        {% for group in grouped_tracks if group['lang']!='none' %}
            <div class="item-playlist">
                <div class="item-title">
                    <h2 class="lang">{{group['lang']}}</h2>
                    <script>
                        var tracks = JSON.parse('{{grouped_tracks|tojson}}')
                    </script>
                    <a class="btn create" href="#" onclick="add_playlist(this.id, tracks); return false;">Create Playlist</a>
                </div>
                <div class="item-content">
                    {% for track in group['tracks'] %}
                        <li>{{track['track']}}</li>            
                        <p>{{', '.join(track['artist'])}}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        </section>

        <section id="playlist-none">
        {% for group in grouped_tracks if group['lang']=='none' %}
            <p>We couldn't find lyrics to these tracks. Could they be instrumentals?</p>
            {% for track in group['tracks'] %}
                <span>{{track['track']}} by {{', '.join(track['artist'])}}. </span>
            {% endfor %}
        {% endfor %}
        </section>
    </div>
    <script>        
    var app = {};
    
    //execute as page loads
    (function(){
        a = document.getElementsByClassName('create')
        b = document.getElementsByClassName('lang')
        Array.from(a).forEach((x,i) => {        //add lang as buttons' id for easier access when adding tracks to playlist later
            x.id = Array.from(b)[i].outerText
        })
        app.auth = 'Bearer {{token}}' //access token
        get_playlists(app.auth) //get existing playlist, later it'll be used to check if a playlist already exist
    })()
    
    //refresh access token
    function refresh_token(){
        axios.get('/refresh')
        .then((res)=>{
            console.log('new token received')
        })
        .catch((error)=>{
            console.error(error)
        })
    }

    //to get playlist lists as page load (executed in function())
    function get_playlists(auth){
        return axios.get('https://api.spotify.com/v1/me/playlists', //my playlists endpoint
        {
            headers: {//refer to spotify docs
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Authorization': auth
        }
        }).then((res)=>{
            data = res['data']['items']
            var playlists = []
            for (let item of data){
                playlists.push({'id':item['id'], 'name':item['name'], 'href':item['external_urls']['spotify']})
            }
            app.playlists = playlists
        })
        .catch((error)=>{
            console.error(error)
        })
    }

    // get items already exists in existing playlist
    function get_playlist_item(playlist_id){
        return axios.get('	https://api.spotify.com/v1/playlists/'+playlist_id+'/tracks', //my playlists endpoint
        {
            headers: {//refer to spotify docs
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Authorization': app.auth
        }
        }).then((res)=>{
            let data = res['data']['items']
            var track_ids = []
            for (let item of data){
                track_ids.push(item['track']['id'])
            }
            return track_ids
        })
        .catch((error)=>{
            console.error(error)
        })
    }

    //check if language playlist already exists
    function isPlaylistExist(lang){
        return app.playlists.find(x => x.name == lang)
    }

    //creates playlist if language playlist doesnt exist
    function new_playlist(lang){
        const data = { 
                    "name": lang,
                    "description": "New playlist description",
                    "public": false }

        return fetch('https://api.spotify.com/v1/users/{{u_id}}/playlists', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Authorization': app.auth
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            return({'id':data['id'], 'name':data['name'], 'href':data['external_urls']['spotify']})
        })
        .catch((error) => {
            console.error('Error:', error); 
        });
    }

    function add_tracks(playlist_id, track_uris){ //add tracks from grouped_tracks that aren't in the playlist yet
        return fetch('https://api.spotify.com/v1/playlists/'+playlist_id+'/tracks', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Authorization': app.auth
            },
            body: JSON.stringify(track_uris),
        })
        .then(res => {
            if(res.status == '201'){
                Swal.fire({
                title: 'Success!',
                text: 'Playlist created',
                icon: 'success',
                confirmButtonText: 'OK'
                })
            }
            return res.json()
        })
        .catch((error) => {
            console.error('Error:', error); 
        });
    }

    function change_button(button_id, playlist_link){
        let playlist_button = document.getElementById(button_id)
        playlist_button.textContent = 'Listen Now'
        playlist_button.href = playlist_link
        playlist_button.target = '_blank'
        playlist_button.removeAttribute("onclick")
    }

    function add_playlist(lang, grouped_tracks){ //executed on button click
        refresh_token()

        let playlist = isPlaylistExist(lang) //check if playlist already exists, then return the existing playlist
        let tracks = grouped_tracks.find(x => x.lang == lang).tracks

        if(playlist){
            get_playlist_item(playlist['id'])
            .then((res)=>{
                var unique_tracks=[]
                unique_tracks = tracks.filter(item => !res.includes(item['id'])) //to avoid adding duplicate tracks
                
                if(unique_tracks.length >= 1){
                    let track_uris = []
                    for (let item of unique_tracks){
                        track_uris.push(item['uri'])
                    }
                    add_tracks(playlist['id'],track_uris)
                    .then((res)=>{
                        change_button(lang, playlist['href'])
                    })
                }
                else{
                    Swal.fire({
                        title: 'Oops...',
                        text: 'Playlist with such name and items already exists.',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    })
                    change_button(lang, playlist['href'])
                }
            })
        }
        else{
            new_playlist(lang)
            .then((res)=>{
                app.playlists.push(res) //append to playlists list to avoid duplicates
                let track_uris = []
                    for (let item of tracks){
                        track_uris.push(item['uri'])
                    }
                let playlist_link = res['href']
                add_tracks(res['id'], track_uris)
                .then((res)=>{
                    change_button(lang, playlist_link)
                })
            })
        }
    }
    </script>

{% endblock %}