{% extends "main_layout.html" %}
{% block content %}

<!-- start here -->
    <div class="container">
        <section id="playlists">
        {% for group in grouped_tracks if group['lang']!='none' %}
            <div class="item-playlist">
            <h2 class="lang">{{group['lang']}}</h2>
            <button class="btn create" onclick="add_playlist(this.id)">Create Playlist</button>
            {% for track in group['tracks'] %}
                <li>{{track['track']}}</li>            
                <p>{{', '.join(track['artist'])}}</p>
            {% endfor %}
            </div>
        {% endfor %}
        </section>

        <section id="playlist-none">
        {% for group in grouped_tracks if group['lang']=='none' %}
            <p>We couldn't find lyrics to these tracks. Could they be instrumentals?</p>
            {% for track in group['tracks'] %}
                <span>{{track['track']}} by {{', '.join(track['artist'])}}. </span>
            {% endfor %}
        {% endfor %}
        </section>
    </div>
    <script>        
        var app = {};
        
        //execute as page loads
        (function(){
            a = document.getElementsByClassName('create')
            b = document.getElementsByClassName('lang')
            Array.from(a).forEach((x,i) => {        //add lang as buttons' id for easier access when adding tracks to playlist later
                console.log(Array.from(b)[i].outerText)
                x.id = Array.from(b)[i].outerText
            })
            app.auth = 'Bearer {{token}}' //access token
            get_playlists(app.auth) //get existing playlist, later it'll be used to check if a playlist already exist
        })()
        
        //to get playlist lists as page load (executed in function())
        function get_playlists(auth){
            return axios.get('https://api.spotify.com/v1/me/playlists', //my playlists endpoint
            {
                headers: {//refer to spotify docs
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'Authorization': auth
            }
            }).then((res)=>{
                data = res['data']['items']
                var playlists = []
                for (let item of data){
                    playlists.push({'id':item['id'],'name':item['name']})
                }
                app.playlists = playlists
            })
            .catch((error)=>{
                console.error(error)
            })
        }

        //check if language playlist already exists
        function isPlaylistExist(lang){
            return app.playlists.find(o => o.name == lang)
        }

        //creates playlist if language playlist doesnt exist
        function new_playlist(lang){

            const data = { 
                        "name": lang,
                        "description": "New playlist description",
                        "public": false }

                fetch('https://api.spotify.com/v1/users/{{u_id}}/playlists', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'Authorization': app.auth
                },
                body: JSON.stringify(data),
                })
                .then(response => response.json())
                .then(data => {
                console.log('Success:', data);
                })
                .catch((error) => {
                console.error('Error:', error);
                });

        }

        //executed on button click to process tracks and add them into respective playlists
        function add_playlist(lang){
            let playlist = isPlaylistExist(lang)

            if(playlist){
                console.log(playlist)
                //check if track already exists in playlist, if yes don't add that track
                //addtracks
            }
            else{
                new_playlist(lang)
                //append added playlist to app.playlists
                //addtracks
            }
            //add feedback 'playlist added' or if error then catch error
            //change button to 'Listen to Playlist' and directs to the playlist url
        }
    </script>

{% endblock %}